@using CodeVault.ViewModels
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">License</div>
    </div>
    <div class="panel-body">
        @(Html.Kendo().Grid<LicenseViewModel>()
              .Name("gridLicenseDetails")
              .Columns(columns =>
              {
                  columns.Bound(c => c.LicenseType);
                  columns.Bound(c => c.Sku);
                  columns.Bound(c => c.Notes);
                  columns.Bound(c => c.Owner);
              })
              .ColumnMenu()
              .Resizable(resizing => resizing.Columns(true))
              .Pageable()
              .Navigatable()
              .Selectable(selectable =>
              {
                  selectable.Mode(GridSelectionMode.Single);
                  selectable.Type(GridSelectionType.Row);
              })
              .Sortable(sortable => { sortable.SortMode(GridSortMode.SingleColumn); })
              .Filterable()
              .Scrollable()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .Read(read => read.Action("LicenseViewModel_Read", "LicenseViewModel", new {id = Model.Id}))
              )
              )
    </div>
</div>