@model CodeVault.ViewModels.ConfigRecordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Configuration Record Details</div>
        </div>
        <div class="panel-body">
            <div class="row" style="padding-left: 1em; padding-top: 1em;">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.Name, new {@class = "control-label"}):
                    @Html.DisplayFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                </div>

            </div>
            <br />
            @Html.Partial("_ConfigRecordOptionalSoftware")
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
