@{
    ViewBag.Title = "Home Page";
}
<div class="container placeholder">
    <div class="row">
        <div class="col-xs-12 col-md-8 placeholder">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#"><img class="media-object" src="~/Images/stock_tech_selection_290x179.png" alt="Wells Fargo Advisors" /></a>
                </div>
                <div class="media-body">
                    <h4>Welcome to CodeVault!</h4>
                    <h5><strong>Your one stop shop for Service Delivery Team engagement</strong></h5>
                    <p>Use the menu and links to search for software and discover line of business configuration records.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"><span class="glyphicon glyphicon-question-sign"></span> How Do I?</h5>
                    </div>
                    <div class="panel-body">
                        @(Html.Kendo().DropDownList()
                    .Name("help")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .Events(e => e.Change("change"))
                    .BindTo(new List<SelectListItem>()
                        {
                        new SelectListItem()
                        {
                        Text = "Request Software",
                        Value = "1",
                        },
                        new SelectListItem()
                        {
                        Text = "Request Configuration Record",
                        Value = "2",
                        },
                        })
                        .Value("1")
                        )
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"><span class="glyphicon glyphicon-star-empty"></span> Shortcuts</h5>
                    </div>
                    <div class="panel-body">
                        <a href="http://www.w3schools.com/html/">W3 Schools</a><br />
                        <a href="https://msdn.microsoft.com">MSDN</a><br />
                        <a href="https://www.google.com/?gws_rd=ssl">Google</a><br />
                        <a href="http://www.cnn.com/">CNN</a><br />
                        <a href="https://moqups.com/#!/edit/akiker/0PiV3eUo">Moqups</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr style="background-color: #CE4C00; height: 2px" />
    <div class="row">
        <div class="col-md-4">
            <h3 style="color:#78A22F;">Service Delivery Team News</h3>
            <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        </div>
        <div class="col-md-4">
            <h3 style="color:#78A22F;">Announcements</h3>
            <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/bootstrap")
@*@RenderSection("scripts", required: false)*@