@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        Search by Customer/Company/Contact Name:
        <input class="k-textbox" type="text" id="txtSearchString" placeholder="enter search text..."/>
        <button id="btnSearch">Search</button>
        <br/><br/>
        <div id="kGrid"></div>
    </div>
</div>
<script>
    $(document).ready(onReady);

    function onReady() {

        $("#btnSearch").kendoButton({
            click: onSearch
        });
        $("#kGrid").kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                },
                schema: {
                    data: function(data) {
                        return data.d.results;
                    },
                    total: function(data) {
                        return data.d.__count;
                    },

                },
                serverPaging: true,
                serverFiltering: true,
                pageSize: 20
            },
            height: 550,
            pageable: true,
            columns: [
                'CustomerID',
                'CompanyName',
                'ContactName',
                'ContactTitle',
                'Address',
                'City',
                'PostalCode',
                'Country'
            ]

        });
    }
</script>